<nav class="navbar navbar-light bg-light" >
    <a class="navbar-brand" href="/">
          <img src="/assets/Handdrawn Circle Logo.png" alt="">
        </a>
      <a class="navbar-brand" href="/">
      <div><h3 style="color:lightblue">Centered — Kickstart Your Wellness Journey</h3></div>
      </a>
      <form class="form-inline">

        <div style="padding-left: 50px;">
          <a class="btn btn-outline-primary" href="/login" role="button">
          Get Started
          </a>
        </div>

    </form>
</nav>