<h1>Master Groups List</h1>
<ul>
    <% @groups.each do |g| %>
        <li><%= link_to g.name, group_path(g) %></li>
    <% end %>
</ul>
<br>
<br>
<h4><strong><%= button_to "Create a new group!", new_group_path %></strong><h4>