<h1>Edit your user profile: </h1>

<%= render "form" %>

<br/>

<h2 style="color:red"><strong><em>Warning: This Action Is Irreversible</em></strong></h2>
<%= link_to "Delete Account", "/users/#{session[:user_id]}", :method => :delete, :class => "btn btn-danger" %>

<br/> <br/>