<h1><strong>Edit </strong><%= @activity.activity_type.name %></h1>
<%= render "form" %>

<br/>

<%= link_to 'Delete this activity', "/activities/#{@activity.id}", :method => :delete, :class => "btn btn-danger"%>

<br/>
<br/>