<%= stylesheet_link_tag "footer.css" %>

<div class="sticky-bottom">
    <div class="container">
    <footer class="footer">
        </br>
        <div id="text">Centered: Improve Yourself.</div>
    </footer>
    <div/>
</div>